
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sales App</title>

	    <link rel="stylesheet" href='{% static "vendor/bootstrap/dist/css/bootstrap.min.css" %}'>	    
	    <link rel="stylesheet" href='{% static "css/app.css" %}'>
        <link rel="stylesheet" href='{% static "css/login.css" %}'>


	    <script type="text/javascript" src='{% static "vendor/jquery/dist/jquery.min.js" %}'></script>
	    <script type="text/javascript" src='{% static "vendor/bootstrap/dist/js/bootstrap.min.js" %}'></script>
	    
	</head>
	
	<body>
		<br>
		<div class="container">
            <div class="card card-container">
    		  <div class="top-part">
    		  	<br><h4>Sales App</h4>
                <span class="login-error">{{ error_message }}</span>
    		  </div>
              
    		  <form method="POST" action="{% url 'login_attempt' %}" class="form-signin">
    		  	 {% csrf_token %}
    		  	 <input name='username' type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                  
                 <input name='password' type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  
                <button class="btn btn-danger btn-lg " type="submit">LOG IN</button>
    		  </form>
            </div>
		</div>
	</body>
</html>