{% extends "home/layout.html" %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" href='{% static "vendor/datatables/media/css/dataTables.jqueryui.min.css" %}'>
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "vendor/datatables/media/js/jquery.dataTables.js" %}'></script>
{% endblock %}

{% block content %}	

<div class="page-title">Products</div>

<div class="panel panel-default">
	<table class='table table-bordered table-striped table table-condensed' id='tab_id'>
		<thead>
			<tr>
				<th>Product name</th>
				<th>Units Sold</th>
				<th>Selling Date</th>
			</tr>
		</thead>
	</table>
</div>
<script type="text/javascript">
$(document).ready(function() {
	
	var oTable = $('#tab_id').dataTable({
		"processing": true,
		"serverSide": true,
		"ajax": "{% url 'productsales:list_json' %}",
	});
});
</script>
{% endblock %}